<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.46.4422.26284" />
  <package id="AspNetMvc" version="4.0.20126.16343" />
  <package id="AspNetRazor.Core" version="2.0.20126.16343" />
  <package id="AspNetWebApi" version="4.0.20126.16343" />
  <package id="AspNetWebApi.Core" version="4.0.20126.16343" />
  <package id="AspNetWebApi.Data" version="4.0.20221.15125" />
  <package id="AspNetWebPages.Core" version="2.0.20126.16343" />
  <package id="dotless" version="1.2.4.0" />
  <package id="EntityFramework" version="4.1.10715.0" />
  <package id="HtmlAgilityPack" version="1.4.3" />
  <package id="Jurassic" version="2.1.1" />
  <package id="SquishIt" version="0.8.6" />
  <package id="SquishIt.Mvc" version="0.8.6" />
  <package id="System.Json" version="4.0.20126.16343" />
  <package id="System.Net.Http" version="2.0.20126.16343" />
  <package id="System.Net.Http.Formatting" version="4.0.20126.16343" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" />
  <package id="System.Web.Providers" version="1.1" />
  <package id="System.Web.Providers.Core" version="1.0" />
  <package id="YUICompressor.NET" version="1.7.1.0" />
</packages>