@{
    
}

<h1>About DevSum Scheduler</h1>

<article>
    <p>
        DevSum Scheduler is a web-app for keeping track of your schedule at <a href="http://devsum.se/">DevSum</a>.
    </p>

    <p>
        It's built to be used on modern browsers, both on a PC or on a smartphone.
    </p>

    <p>
        Some technologies and techniques of interest used to build this app:
        <ul>
            <li><a href="http://www.w3.org/TR/webstorage/">HTML 5 LocalStorage</a></li>
            <li><a href="http://www.webreference.com/authoring/languages/html/HTML5-Application-Caching/index.html">HTML 5 Offline Application Caching</a></li>
            <li><a href="http://htmlagilitypack.codeplex.com/">HTML Agility Pack</a></li>
            <li><a href="http://amplifyjs.com/api/store/">AmplifyJS Store</a></li>
            <li><a href="http://www.w3.org/TR/css3-mediaqueries/">CSS Media Queries</a></li>
            <li><a href="http://github.com/sebnilsson/DevSumScheduler">GitHub</a></li>
            <li><a href="http://devsumscheduler.apphb.com/">AppHarbor</a></li>
        </ul>
    </p>
    
    <p>
        You can look at the code and/or contribute to it at GitHub.
    </p>
</article>