@model IEnumerable<ScheduleTable>

<h1 id="site-head" class="container">DevSum Scheduler</h1>

<hr/>

<div id="schedule-tables">
    @Html.DisplayForModel()
</div>

<div id="bottom-toolbar" class="js container">
    <p>
        <a id="reset-choices" href="#" class="btn btn-danger pull-right">Clear track selections</a>
        <div class="clearfix"></div>
    </p>
</div>