@model IEnumerable<ScheduleTable>

<h1>DevSum-scheduler</h1>

<div id="schedule-tables">
    @Html.DisplayForModel()
</div>

<div class="clear"></div>
<div id="bottom-toolbar" class="js">
    <a id="reset-choices" href="#">Clear track selections</a>
</div>
<div class="clear"></div>